serverless.yml
service: trialmonitor
app: trialmonitor-app
org: paulkamer

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-central-1
  stage: ${opt:stage,'dev'}
  cfnRole: 'arn:aws:iam::${self:custom.secrets.ACCOUNT_ID}:role/sls_cfn'
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:ListStreams
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:BatchGetItem
        - dynamodb:BatchWriteItem
      Resource:
        - 'arn:aws:dynamodb:${self:provider.region}:${self:custom.secrets.ACCOUNT_ID}:table/${self:provider.environment.TRIALS_TABLE}'
        - 'arn:aws:dynamodb:${self:provider.region}:${self:custom.secrets.ACCOUNT_ID}:table/${self:provider.environment.SEARCHES_TABLE}'
    - Effect: Allow
      Action:
        - ses:SendEmail
      Resource:
        - 'arn:aws:ses:${self:provider.region}:${self:custom.secrets.ACCOUNT_ID}:identity/${self:custom.secrets.EMAIL_TO_ADDRESS}'
        - 'arn:aws:ses:${self:provider.region}:${self:custom.secrets.ACCOUNT_ID}:identity/${self:custom.secrets.SES_FROM_IDENTITY}'

  environment:
    STAGE: ${self:provider.stage}
    DYNAMODB_REGION: ${self:custom.dynamodb.region.${self:provider.stage}}
    DYNAMODB_API_VERSION: '2012-08-10'
    DYNAMODB_DEV_ENDPOINT: ${self:custom.dynamodb.dev_endpoint}
    TRIALS_TABLE: 'trials_${self:provider.stage}'
    SEARCHES_TABLE: 'trialsearches_${self:provider.stage}'
    EMAIL_FROM_ADDRESS: ${self:custom.secrets.EMAIL_FROM_ADDRESS}
    EMAIL_TO_ADDRESS: ${self:custom.secrets.EMAIL_TO_ADDRESS}

plugins:
  - serverless-offline
  - serverless-step-functions
  - serverless-step-functions-offline
  - serverless-dynamodb-local

package:
  exclude:
    - .dynamodb/**
    - yarn.lock
    - package.json
    - README.md
    - '*.code-workspace'
    - .eslintcache
    - prettier.config.js

functions:
  newTrialsChecker:
    handler: src/functions/newTrialsChecker.handle
    timeout: 30
    onError: arn:aws:sns:${self:provider.region}:${self:custom.secrets.ACCOUNT_ID}:trialmonitor-lambda-dlq

  outdatedTrialsChecker:
    handler: src/functions/outdatedTrialsChecker.handle
    onError: arn:aws:sns:${self:provider.region}:${self:custom.secrets.ACCOUNT_ID}:trialmonitor-lambda-dlq

  trialUpdater:
    handler: src/functions/trialUpdater.handle
    timeout: 10
    onError: arn:aws:sns:${self:provider.region}:${self:custom.secrets.ACCOUNT_ID}:trialmonitor-lambda-dlq

  updatesNotifier:
    handler: src/functions/updatesNotifier.handle
    onError: arn:aws:sns:${self:provider.region}:${self:custom.secrets.ACCOUNT_ID}:trialmonitor-lambda-dlq

# trial API functions
  fetchTrial:
    handler: src/functions/api/trials.get
    timeout: 10
    events:
      - http:
          path: trials/{id}
          cors: true
          method: get
          authorizer: aws_iam
  listTrials:
    handler: src/functions/api/trials.getAll
    timeout: 10
    events:
      - http:
          path: trials/all
          cors: true
          method: get
          integration: lambda
          authorizer: aws_iam
  createTrial:
    handler: src/functions/api/trials.createTrial
    timeout: 30
    events:
      - http:
          path: trials
          method: post
          cors: true
  deleteTrial:
    handler: src/functions/api/trials.deleteTrial
    timeout: 30
    events:
      - http:
          path: trials
          method: delete
          cors: true

# trial searches API functions
  listTrialSearches:
    handler: src/functions/api/trialSearches.getAll
    timeout: 10
    events:
      - http:
          path: trial_search/all
          cors: true
          method: get
          authorizer: aws_iam
  createTrialSearch:
    handler: src/functions/api/trialSearches.createTrialSearch
    timeout: 10
    events:
      - http:
          path: trial_search
          method: post
          cors: true
          integration: lambda
          authorizer: aws_iam
  deleteTrialSearch:
    handler: src/functions/api/trialSearches.deleteTrialSearch
    timeout: 10
    events:
      - http:
          path: trial_search/{id}
          method: delete
          cors: true
          authorizer: aws_iam
          request:
            parameters:
              paths:
                id: true

stepFunctions:
  stateMachines:
    newTrialsChecker:
      definition:
        Comment: 'Check for new trials, based on search queries'
        StartAt: runNewTrialsChecker
        States:
          runNewTrialsChecker:
            Type: Task
            Resource:
              Fn::GetAtt: [newTrialsChecker, Arn]
            Next: notifyIfNecessary
          notifyIfNecessary:
            Type: Choice
            Choices:
             -
                Variable: $.results_length
                NumericEquals: 0
                Next: SucceedState
            Default: prepareResultsForNotifier
          prepareResultsForNotifier:
            Type: Pass
            OutputPath: $.results
            Next: updatesNotifier
          updatesNotifier:
            Type: Task
            Resource:
              Fn::GetAtt: [updatesNotifier, Arn]
            End: true
          SucceedState:
            Type: Succeed
      events:
        - schedule:
            rate: rate(1 day)
            enabled: true

    outdatedTrialsChecker:
      definition:
        Comment: 'Check for outdated trials'
        StartAt: runOutdatedTrialsChecker
        States:
          runOutdatedTrialsChecker:
            Type: Task
            Resource:
              Fn::GetAtt: [outdatedTrialsChecker, Arn]
            Next: checkIfTrialsNeedToBeUpdated
          checkIfTrialsNeedToBeUpdated:
            Type: Choice
            Choices:
             -
                Variable: $.results_length
                NumericEquals: 0
                Next: SucceedState
            Default: updateTrial
          updateTrial:
            Type: Map
            MaxConcurrency: 2
            ItemsPath: $.results
            Iterator:
              StartAt: trialUpdater
              States:
                trialUpdater:
                  Type: Task
                  Resource:
                    Fn::GetAtt: [trialUpdater, Arn]
                  End: true
            Next: updatesNotifier
          updatesNotifier:
            Type: Task
            Resource:
              Fn::GetAtt: [updatesNotifier, Arn]
            End: true
          SucceedState:
            Type: Succeed
      events:
        - http:
            path: runOutdatedTrialsChecker
            method: GET
        - schedule:
            rate: rate(6 hours)
            enabled: true

resources: # CloudFormation template syntax
  Resources:
    TrialsTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Delete
      Properties:
        TableName: ${self:provider.environment.TRIALS_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 2
          WriteCapacityUnits: 2
        StreamSpecification:
          StreamViewType: NEW_IMAGE
    TrialSearchesTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Delete
      Properties:
        TableName: ${self:provider.environment.SEARCHES_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: NEW_IMAGE

custom:
  secrets: ${file(secrets.json)}
  stepFunctionsOffline:
    runOutdatedTrialsChecker: outdatedTrialsChecker
    updateTrial: trialUpdater
  dynamodb:
    stages:
      - dev
      - prod
    region:
      dev: localhost
      prod: ${self:provider.region}
    dev_endpoint: http://localhost:${self:custom.dynamodb.start.port}
    start:
      port: 8000
      inMemory: true
      heapInitial: 200m
      heapMax: 1g
      migrate: true
      seed: true
      convertEmptyValues: true
    seed:
      domain:
        sources:
          - table: ${self:provider.environment.TRIALS_TABLE}
            sources: [db/seeds/dev/trials.json]
          - table: ${self:provider.environment.SEARCHES_TABLE}
            sources: [db/seeds/dev/searches.json]
